flows (1).json
[{"id":"380ed37.817812c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9c4f0d34.b85a8","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/1","topic":"hydro/temp/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":170,"y":180,"wires":[["f7002a9.3ef07d8"]]},{"id":"f7002a9.3ef07d8","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"47c4ead9.46acc4","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/2","topic":"hydro/temp/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":170,"y":240,"wires":[["443d4c2b.bd8984"]]},{"id":"443d4c2b.bd8984","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"5d4fd2be.0f9b6c","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/1","topic":"hydro/hum/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":170,"y":300,"wires":[["47dbb0be.0a695"]]},{"id":"47dbb0be.0a695","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"504e5896.642138","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/2","topic":"hydro/hum/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":170,"y":360,"wires":[["f3402f.cc546fd"]]},{"id":"f3402f.cc546fd","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"a4e45bcb.4d49c8","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/off","topic":"hydro/rel/off","qos":"","retain":"","broker":"f546b1fc.0e503","x":530,"y":440,"wires":[]},{"id":"ab965be1.d66f78","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/on","topic":"hydro/rel/on","qos":"","retain":"","broker":"f546b1fc.0e503","x":530,"y":500,"wires":[]},{"id":"fe9439a6.bdb5d8","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":3,"width":0,"height":0,"passthru":false,"label":"button off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":440,"wires":[["a4e45bcb.4d49c8"]]},{"id":"96ad007d.8ada2","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":4,"width":0,"height":0,"passthru":false,"label":"button on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["ab965be1.d66f78"]]},{"id":"f546b1fc.0e503","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"node-client-test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a24d5684.4831c8","type":"ui_group","name":"Hydroponic","tab":"bcfc769f.bac2c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"bcfc769f.bac2c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]