flow_database_running.json
[{"id":"380ed37.817812c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9c4f0d34.b85a8","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/1","topic":"hydro/temp/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":260,"wires":[["636635fe.de098c","f7002a9.3ef07d8"]]},{"id":"f7002a9.3ef07d8","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"47c4ead9.46acc4","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/2","topic":"hydro/temp/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":380,"wires":[["b4e80297.16116","443d4c2b.bd8984"]]},{"id":"443d4c2b.bd8984","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"5d4fd2be.0f9b6c","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/1","topic":"hydro/hum/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":500,"wires":[["41f904e0.097d7c","47dbb0be.0a695"]]},{"id":"47dbb0be.0a695","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":440,"wires":[]},{"id":"504e5896.642138","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/2","topic":"hydro/hum/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":620,"wires":[["1f46fea.c832001","f3402f.cc546fd"]]},{"id":"f3402f.cc546fd","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":560,"wires":[]},{"id":"a4e45bcb.4d49c8","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/off","topic":"hydro/rel/off","qos":"","retain":"","broker":"f546b1fc.0e503","x":1190,"y":200,"wires":[]},{"id":"ab965be1.d66f78","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/on","topic":"hydro/rel/on","qos":"","retain":"","broker":"f546b1fc.0e503","x":1190,"y":260,"wires":[]},{"id":"fe9439a6.bdb5d8","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":3,"width":0,"height":0,"passthru":false,"label":"button off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":840,"y":200,"wires":[["a4e45bcb.4d49c8"]]},{"id":"96ad007d.8ada2","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":4,"width":0,"height":0,"passthru":false,"label":"button on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":840,"y":260,"wires":[["ab965be1.d66f78"]]},{"id":"6bc50e0f.70389","type":"inject","z":"380ed37.817812c","name":"temperature 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE temperature1(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":40,"wires":[[]]},{"id":"90420a76.e49e58","type":"inject","z":"380ed37.817812c","name":"temperature 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE temperature2(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":80,"wires":[[]]},{"id":"bd342875.85a6a8","type":"inject","z":"380ed37.817812c","name":"humidity 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE humidity1(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":120,"wires":[[]]},{"id":"247522c0.7f4d8e","type":"inject","z":"380ed37.817812c","name":"humidity 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE humidity2(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":160,"wires":[[]]},{"id":"636635fe.de098c","type":"function","z":"380ed37.817812c","name":"Save temp1","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO temperature1(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":372,"y":260,"wires":[["1b1e32d3.aa49ed"]]},{"id":"b4e80297.16116","type":"function","z":"380ed37.817812c","name":"Save temp2","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO temperature2(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["1b1e32d3.aa49ed"]]},{"id":"41f904e0.097d7c","type":"function","z":"380ed37.817812c","name":"Save hum1","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO humidity1(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":500,"wires":[["1b1e32d3.aa49ed"]]},{"id":"1f46fea.c832001","type":"function","z":"380ed37.817812c","name":"Save hum2","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO humidity2(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["1b1e32d3.aa49ed"]]},{"id":"1b1e32d3.aa49ed","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":620,"y":440,"wires":[[]]},{"id":"2d6b659f.0b01ca","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":440,"wires":[[]]},{"id":"8d913c53.86f7f","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"fe60c9be.282678","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":580,"wires":[["8d913c53.86f7f","7bc3d28a.ef3a6c"]]},{"id":"cda12085.2ed0d","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":4,"width":0,"height":0,"passthru":false,"label":"plot chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"SELECT * FROM temperature1","topicType":"str","x":700,"y":580,"wires":[["fe60c9be.282678"]]},{"id":"7bc3d28a.ef3a6c","type":"function","z":"380ed37.817812c","name":"","func":"const values = msg.payload.entries()\n\nvar newMsg = {\n    \"topic\": \"\"+ values+ \"\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":680,"wires":[["d355e078.9b409"]]},{"id":"d355e078.9b409","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":680,"wires":[]},{"id":"f546b1fc.0e503","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"node-client-test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a24d5684.4831c8","type":"ui_group","name":"Hydroponic","tab":"bcfc769f.bac2c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3e67ef18.18d8","type":"sqlitedb","db":"/home/pi/Documents/Hydroponic/Database","mode":"RWC"},{"id":"bcfc769f.bac2c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]