Node_Red_Flow/flow_latest.json
[{"id":"8d6b741.48b2d88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"39318a74.b05696","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/ph","topic":"hydro/ph","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":140,"y":540,"wires":[["92e540bc.0b60f","d03ee7c3.e34528"]]},{"id":"d03ee7c3.e34528","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":480,"wires":[]},{"id":"600e0312.a2261c","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/ec","topic":"hydro/ec","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":140,"y":660,"wires":[["eb7f887a.0d6968","da6a90d4.d9ed7"]]},{"id":"da6a90d4.d9ed7","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":600,"wires":[]},{"id":"572aa819.a8a158","type":"inject","z":"8d6b741.48b2d88","name":"ph_table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE ph(id INTEGER PRIMARY KEY AUTOINCREMENT, ph NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":40,"wires":[["95975896.448548"]]},{"id":"61c3ce76.689fc","type":"inject","z":"8d6b741.48b2d88","name":"ec_table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE ec(id INTEGER PRIMARY KEY AUTOINCREMENT, ec NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":80,"wires":[["95975896.448548"]]},{"id":"92e540bc.0b60f","type":"function","z":"8d6b741.48b2d88","name":"Save ph","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO ph(ph, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":362,"y":540,"wires":[["2f143a53.3722d6"]]},{"id":"eb7f887a.0d6968","type":"function","z":"8d6b741.48b2d88","name":"Save ec","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO ec(ec, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["2f143a53.3722d6"]]},{"id":"2f143a53.3722d6","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":620,"y":900,"wires":[[]]},{"id":"fe3d1e76.9e397","type":"ui_chart","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":1,"width":8,"height":4,"label":"PH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":1440,"wires":[[]]},{"id":"ff37ba67.79ad78","type":"function","z":"8d6b741.48b2d88","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.reverse().forEach(function(value){\n    data.push(value['ph']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1440,"wires":[["fe3d1e76.9e397"]]},{"id":"2241d96a.fb7906","type":"function","z":"8d6b741.48b2d88","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.reverse().forEach(function(value){\n    data.push(value['ec']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1500,"wires":[["b5d48c3f.47ae3"]]},{"id":"adb03a0e.455788","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":1500,"wires":[["2241d96a.fb7906"]]},{"id":"b5d48c3f.47ae3","type":"ui_chart","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":2,"width":8,"height":4,"label":"Conductivity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1500,"wires":[[]]},{"id":"7987f2a8.f76dac","type":"inject","z":"8d6b741.48b2d88","name":"ph","props":[{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM ph ORDER BY id DESC LIMIT 100","x":650,"y":1440,"wires":[["fe9c48a6.d24ee8"]]},{"id":"ec3784dd.adb728","type":"inject","z":"8d6b741.48b2d88","name":"ec","props":[{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM ec ORDER BY id DESC LIMIT 100","x":650,"y":1500,"wires":[["adb03a0e.455788"]]},{"id":"95975896.448548","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":560,"y":120,"wires":[[]]},{"id":"fe9c48a6.d24ee8","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":1440,"wires":[["ff37ba67.79ad78"]]},{"id":"8dbe12e.67f1df","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":18,"width":8,"height":1,"passthru":false,"label":"dosing pump 1 off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":420,"wires":[["e3ce44a.edcc0b8","a8c9bdc5.235eb"]]},{"id":"22191472.4501bc","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":14,"width":8,"height":1,"passthru":false,"label":"dosing pump 1 on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":480,"wires":[["c90d39ca.88b288","a8c9bdc5.235eb"]]},{"id":"e3ce44a.edcc0b8","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_1","topic":"hydro/dosing_pump_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":420,"wires":[]},{"id":"c90d39ca.88b288","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_1","topic":"hydro/dosing_pump_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":480,"wires":[]},{"id":"689e40cf.e859e","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":19,"width":8,"height":1,"passthru":false,"label":"dosing pump 2 off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":540,"wires":[["5482408b.76622","88d3223d.12ee9"]]},{"id":"79797a9b.01a514","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":16,"width":8,"height":1,"passthru":false,"label":"dosing pump 2 on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":600,"wires":[["e7be2794.a258a8","88d3223d.12ee9"]]},{"id":"5482408b.76622","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_2","topic":"hydro/dosing_pump_2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":540,"wires":[]},{"id":"e7be2794.a258a8","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_2","topic":"hydro/dosing_pump_2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":600,"wires":[]},{"id":"ffded7a.73a9928","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":24,"width":8,"height":1,"passthru":false,"label":"dosing pump 3 off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":660,"wires":[["473fcd48.88b504","2f7afcbd.e6c114"]]},{"id":"eb25a806.e107e8","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":20,"width":8,"height":1,"passthru":false,"label":"dosing pump 3 on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":720,"wires":[["3fe73128.ba1dbe","2f7afcbd.e6c114"]]},{"id":"473fcd48.88b504","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_3","topic":"hydro/dosing_pump_3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":660,"wires":[]},{"id":"3fe73128.ba1dbe","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_3","topic":"hydro/dosing_pump_3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":720,"wires":[]},{"id":"14c85ed9.0c7551","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":25,"width":8,"height":1,"passthru":false,"label":"dosing pump 4 off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":780,"wires":[["35bd2657.0ac5da","303c7126.c6f9ee"]]},{"id":"a553643.ea43198","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":22,"width":8,"height":1,"passthru":false,"label":"dosing pump 4 on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":870,"y":840,"wires":[["c07f5dff.6e24c","303c7126.c6f9ee"]]},{"id":"35bd2657.0ac5da","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_4","topic":"hydro/dosing_pump_4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":780,"wires":[]},{"id":"c07f5dff.6e24c","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_4","topic":"hydro/dosing_pump_4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1220,"y":840,"wires":[]},{"id":"9225886b.62ac78","type":"inject","z":"8d6b741.48b2d88","name":"water_level_table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE water_level(id INTEGER PRIMARY KEY AUTOINCREMENT, water_level NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":180,"y":120,"wires":[["95975896.448548"]]},{"id":"f2ba7dd6.979fc","type":"inject","z":"8d6b741.48b2d88","name":"temperature_table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE temperature(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":190,"y":160,"wires":[["95975896.448548"]]},{"id":"dfa6ed7b.fadf7","type":"inject","z":"8d6b741.48b2d88","name":"humidity_table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE humidity(id INTEGER PRIMARY KEY AUTOINCREMENT, humidity NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":200,"wires":[["95975896.448548"]]},{"id":"81632acd.7d6218","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/water_level","topic":"hydro/water_level","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":160,"y":780,"wires":[["973b55.19f834a8","2bf90364.f4046c"]]},{"id":"2bf90364.f4046c","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":720,"wires":[]},{"id":"973b55.19f834a8","type":"function","z":"8d6b741.48b2d88","name":"Save water_level","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO water_level(water_level, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":780,"wires":[["2f143a53.3722d6"]]},{"id":"37346d4f.bcbf32","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/temperature","topic":"hydro/temperature","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":170,"y":900,"wires":[["917ee47e.348578","98a9dcee.c77af"]]},{"id":"98a9dcee.c77af","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":840,"wires":[]},{"id":"917ee47e.348578","type":"function","z":"8d6b741.48b2d88","name":"Save temperature","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO temperature(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":900,"wires":[["2f143a53.3722d6"]]},{"id":"9dcb9bb.17f9668","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/humidity","topic":"hydro/humidity","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":160,"y":1020,"wires":[["2c9d1b90.ab3354","e2aa3f8e.02a97"]]},{"id":"e2aa3f8e.02a97","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":960,"wires":[]},{"id":"2c9d1b90.ab3354","type":"function","z":"8d6b741.48b2d88","name":"Save humidity","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO humidity(humidity, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1020,"wires":[["2f143a53.3722d6"]]},{"id":"fd2d1ebd.cb6c5","type":"inject","z":"8d6b741.48b2d88","name":"lamp_status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE lamp_status(id INTEGER PRIMARY KEY AUTOINCREMENT, lamp_status NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":240,"wires":[["95975896.448548"]]},{"id":"ec6f82b1.2110e","type":"inject","z":"8d6b741.48b2d88","name":"air_pump_status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE air_pump_status(id INTEGER PRIMARY KEY AUTOINCREMENT, air_pump_status NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":180,"y":280,"wires":[["95975896.448548"]]},{"id":"f17a195.8dd6ee8","type":"inject","z":"8d6b741.48b2d88","name":"water_pump_status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE water_pump_status(id INTEGER PRIMARY KEY AUTOINCREMENT, water_pump_status NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":190,"y":320,"wires":[["95975896.448548"]]},{"id":"4933b175.0b6cf","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/lamp_status","topic":"hydro/lamp_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":170,"y":1140,"wires":[["258aceb8.f4e442","30b4748c.f514cc","185dbd08.8e5f13"]]},{"id":"30b4748c.f514cc","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1080,"wires":[]},{"id":"258aceb8.f4e442","type":"function","z":"8d6b741.48b2d88","name":"Save lamp_status","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO lamp_status(lamp_status, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1140,"wires":[["2f143a53.3722d6"]]},{"id":"574ddf00.61236","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/air_pump_status","topic":"hydro/air_pump_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":180,"y":1260,"wires":[["88264053.1b124","f63a526b.8c1a2","ec328ea0.c2405"]]},{"id":"f63a526b.8c1a2","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1200,"wires":[]},{"id":"88264053.1b124","type":"function","z":"8d6b741.48b2d88","name":"Save lamp_status","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO air_pump_status(air_pump_status, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1260,"wires":[["2f143a53.3722d6"]]},{"id":"44956c99.075524","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/water_pump_status","topic":"hydro/water_pump_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":190,"y":1380,"wires":[["11a14dbe.b9f0d2","8bd18fb5.a5fc2","3a4f2848.f128b8"]]},{"id":"8bd18fb5.a5fc2","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1320,"wires":[]},{"id":"11a14dbe.b9f0d2","type":"function","z":"8d6b741.48b2d88","name":"Save lamp_status","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO water_pump_status(water_pump_status, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1380,"wires":[["2f143a53.3722d6"]]},{"id":"b5bb780b.3c4028","type":"inject","z":"8d6b741.48b2d88","name":"humidity","props":[{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM humidity ORDER BY id DESC LIMIT 100","x":660,"y":1560,"wires":[["2348201.d363be"]]},{"id":"2348201.d363be","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":1560,"wires":[["27cf3321.59569c"]]},{"id":"27cf3321.59569c","type":"function","z":"8d6b741.48b2d88","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.reverse().forEach(function(value){\n    data.push(value['humidity']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1560,"wires":[["1757ee66.414372"]]},{"id":"1757ee66.414372","type":"ui_chart","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":3,"width":8,"height":4,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":1560,"wires":[[]]},{"id":"9a665c99.68475","type":"inject","z":"8d6b741.48b2d88","name":"temperature","props":[{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM temperature ORDER BY id DESC LIMIT 100","x":680,"y":1620,"wires":[["c48cfe0.405bd"]]},{"id":"c48cfe0.405bd","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":1620,"wires":[["438791ac.0f0c6"]]},{"id":"438791ac.0f0c6","type":"function","z":"8d6b741.48b2d88","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.reverse().forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1620,"wires":[["2aa9f0cb.a268a"]]},{"id":"2aa9f0cb.a268a","type":"ui_chart","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":8,"width":8,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1620,"wires":[[]]},{"id":"b185e902.4aba28","type":"inject","z":"8d6b741.48b2d88","name":"water_level","props":[{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT * FROM water_level ORDER BY id DESC LIMIT 100","x":670,"y":1680,"wires":[["6a576b6e.c10244"]]},{"id":"6a576b6e.c10244","type":"sqlite","z":"8d6b741.48b2d88","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":860,"y":1680,"wires":[["4cc4e92e.df4878"]]},{"id":"4cc4e92e.df4878","type":"function","z":"8d6b741.48b2d88","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.reverse().forEach(function(value){\n    data.push(value['water_level']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1680,"wires":[["50a4e0ed.1e3f"]]},{"id":"50a4e0ed.1e3f","type":"ui_chart","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":9,"width":8,"height":4,"label":"Water Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1680,"wires":[[]]},{"id":"a4e0bdfd.57c01","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":26,"width":8,"height":1,"passthru":false,"label":"lamp on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":830,"y":80,"wires":[["954b6c43.dccc1","185dbd08.8e5f13"]]},{"id":"954b6c43.dccc1","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/lamp","topic":"hydro/lamp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1200,"y":80,"wires":[]},{"id":"17b870d0.706aaf","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":30,"width":8,"height":1,"passthru":false,"label":"lamp off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":831,"y":133,"wires":[["7d21e6ce.1ff618","185dbd08.8e5f13"]]},{"id":"7d21e6ce.1ff618","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/lamp","topic":"hydro/lamp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1203,"y":132,"wires":[]},{"id":"11c2c69c.6a22d9","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":32,"width":8,"height":1,"passthru":false,"label":"water pump on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":852,"y":182,"wires":[["36f7c505.90e30a","3a4f2848.f128b8"]]},{"id":"36f7c505.90e30a","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/water_pump","topic":"hydro/water_pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1222,"y":182,"wires":[]},{"id":"bf163530.873438","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":35,"width":8,"height":1,"passthru":false,"label":"water pump off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":853,"y":235,"wires":[["f58940f8.dc5ee","3a4f2848.f128b8"]]},{"id":"f58940f8.dc5ee","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/water_pump","topic":"hydro/water_pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1225,"y":234,"wires":[]},{"id":"3814e65f.25f0aa","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":28,"width":8,"height":1,"passthru":false,"label":"air pump on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":842,"y":283,"wires":[["69e0d8a.dfbb328","ec328ea0.c2405"]]},{"id":"69e0d8a.dfbb328","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/air_pump","topic":"hydro/air_pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1212,"y":283,"wires":[]},{"id":"f6da7f90.aa3b8","type":"ui_button","z":"8d6b741.48b2d88","name":"","group":"a24d5684.4831c8","order":31,"width":8,"height":1,"passthru":false,"label":"air pump off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":843,"y":336,"wires":[["4fc23ea.6b57ac","ec328ea0.c2405"]]},{"id":"4fc23ea.6b57ac","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/air_pump","topic":"hydro/air_pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1215,"y":335,"wires":[]},{"id":"185dbd08.8e5f13","type":"ui_led","z":"8d6b741.48b2d88","order":27,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"1","valueType":"str"},{"color":"#ff0000","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1350,"y":100,"wires":[]},{"id":"3a4f2848.f128b8","type":"ui_led","z":"8d6b741.48b2d88","order":33,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"1","valueType":"str"},{"color":"#ff0000","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1390,"y":200,"wires":[]},{"id":"ec328ea0.c2405","type":"ui_led","z":"8d6b741.48b2d88","order":29,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"1","valueType":"str"},{"color":"#ff0000","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1370,"y":300,"wires":[]},{"id":"a8c9bdc5.235eb","type":"ui_led","z":"8d6b741.48b2d88","order":15,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1410,"y":440,"wires":[]},{"id":"88d3223d.12ee9","type":"ui_led","z":"8d6b741.48b2d88","order":17,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1410,"y":560,"wires":[]},{"id":"2f7afcbd.e6c114","type":"ui_led","z":"8d6b741.48b2d88","order":21,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1410,"y":680,"wires":[]},{"id":"303c7126.c6f9ee","type":"ui_led","z":"8d6b741.48b2d88","order":23,"group":"a24d5684.4831c8","width":7,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"},{"color":"#008000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1420,"y":800,"wires":[]},{"id":"ad06e3ca.3d8bc","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_1_status","topic":"hydro/dosing_pump_1_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":900,"y":920,"wires":[["a8c9bdc5.235eb","2728606f.9d365"]]},{"id":"8c7eb98b.70cab8","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_2_status","topic":"hydro/dosing_pump_2_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":900,"y":960,"wires":[["88d3223d.12ee9","d626a7b.8027658"]]},{"id":"b7d35a92.b3ad28","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_3_status","topic":"hydro/dosing_pump_3_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":900,"y":1000,"wires":[["2f7afcbd.e6c114","8cf8354d.d75cb8"]]},{"id":"ecaa49ae.22c448","type":"mqtt in","z":"8d6b741.48b2d88","name":"hydro/dosing_pump_4_status","topic":"hydro/dosing_pump_4_status","qos":"2","datatype":"auto","broker":"64ea26.73fac5dc","nl":false,"rap":false,"x":900,"y":1040,"wires":[["303c7126.c6f9ee","4bb10195.0a8b9"]]},{"id":"2728606f.9d365","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":920,"wires":[]},{"id":"d626a7b.8027658","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":960,"wires":[]},{"id":"8cf8354d.d75cb8","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1000,"wires":[]},{"id":"4bb10195.0a8b9","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1040,"wires":[]},{"id":"476fa109.18c2c","type":"rpi-gpio in","z":"8d6b741.48b2d88","name":"","pin":"40","intype":"up","debounce":"25","read":false,"x":850,"y":1140,"wires":[["9dd25059.93345"]]},{"id":"157faf61.953db1","type":"debug","z":"8d6b741.48b2d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":1140,"wires":[]},{"id":"9dd25059.93345","type":"function","z":"8d6b741.48b2d88","name":"","func":"if (msg.payload == 1) {\n    context.set(\"previousState\",!context.get(\"previousState\"))\n    msg.payload = 1 * context.get(\"previousState\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1140,"wires":[["bdfb322b.19e5d"]]},{"id":"1d0c6ed0.9e7601","type":"mqtt out","z":"8d6b741.48b2d88","name":"hydro/water_pump","topic":"hydro/water_pump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ea26.73fac5dc","x":1390,"y":1180,"wires":[]},{"id":"bdfb322b.19e5d","type":"change","z":"8d6b741.48b2d88","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1140,"wires":[["157faf61.953db1","1d0c6ed0.9e7601","3a4f2848.f128b8"]]},{"id":"64ea26.73fac5dc","type":"mqtt-broker","name":"","broker":"192.168.8.190","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3e67ef18.18d8","type":"sqlitedb","db":"/home/pi/Documents/Hydroponic/Node_Red_Flow/Database","mode":"RWC"},{"id":"a24d5684.4831c8","type":"ui_group","name":"Hydroponic","tab":"bcfc769f.bac2c8","order":2,"disp":true,"width":"30","collapse":false},{"id":"bcfc769f.bac2c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]