Node_Red_Flow/node_red_flow.json
[{"id":"380ed37.817812c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9c4f0d34.b85a8","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/1","topic":"hydro/temp/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":260,"wires":[["636635fe.de098c","f7002a9.3ef07d8"]]},{"id":"f7002a9.3ef07d8","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"47c4ead9.46acc4","type":"mqtt in","z":"380ed37.817812c","name":"hydro/temp/2","topic":"hydro/temp/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":380,"wires":[["b4e80297.16116","443d4c2b.bd8984"]]},{"id":"443d4c2b.bd8984","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"5d4fd2be.0f9b6c","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/1","topic":"hydro/hum/1","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":500,"wires":[["41f904e0.097d7c","47dbb0be.0a695"]]},{"id":"47dbb0be.0a695","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":440,"wires":[]},{"id":"504e5896.642138","type":"mqtt in","z":"380ed37.817812c","name":"hydro/hum/2","topic":"hydro/hum/2","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":150,"y":620,"wires":[["1f46fea.c832001","f3402f.cc546fd"]]},{"id":"f3402f.cc546fd","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":560,"wires":[]},{"id":"a4e45bcb.4d49c8","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/off","topic":"hydro/rel/off","qos":"","retain":"","broker":"f546b1fc.0e503","x":1190,"y":200,"wires":[]},{"id":"ab965be1.d66f78","type":"mqtt out","z":"380ed37.817812c","name":"hydro/rel/on","topic":"hydro/rel/on","qos":"","retain":"","broker":"f546b1fc.0e503","x":1190,"y":260,"wires":[]},{"id":"fe9439a6.bdb5d8","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":14,"width":8,"height":1,"passthru":false,"label":"button off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":840,"y":200,"wires":[["a4e45bcb.4d49c8"]]},{"id":"96ad007d.8ada2","type":"ui_button","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":16,"width":8,"height":1,"passthru":false,"label":"button on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":840,"y":260,"wires":[["ab965be1.d66f78"]]},{"id":"6bc50e0f.70389","type":"inject","z":"380ed37.817812c","name":"temperature 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE temperature1(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":40,"wires":[["181e0547.b3412b"]]},{"id":"90420a76.e49e58","type":"inject","z":"380ed37.817812c","name":"temperature 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE temperature2(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":170,"y":80,"wires":[["181e0547.b3412b"]]},{"id":"bd342875.85a6a8","type":"inject","z":"380ed37.817812c","name":"humidity 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE humidity1(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":120,"wires":[["181e0547.b3412b"]]},{"id":"247522c0.7f4d8e","type":"inject","z":"380ed37.817812c","name":"humidity 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE humidity2(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":160,"y":160,"wires":[["181e0547.b3412b"]]},{"id":"636635fe.de098c","type":"function","z":"380ed37.817812c","name":"Save temp1","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO temperature1(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":372,"y":260,"wires":[["1b1e32d3.aa49ed"]]},{"id":"b4e80297.16116","type":"function","z":"380ed37.817812c","name":"Save temp2","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO temperature2(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["1b1e32d3.aa49ed"]]},{"id":"41f904e0.097d7c","type":"function","z":"380ed37.817812c","name":"Save hum1","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO humidity1(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":500,"wires":[["1b1e32d3.aa49ed"]]},{"id":"1f46fea.c832001","type":"function","z":"380ed37.817812c","name":"Save hum2","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO humidity2(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["1b1e32d3.aa49ed"]]},{"id":"1b1e32d3.aa49ed","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":620,"y":440,"wires":[[]]},{"id":"2d6b659f.0b01ca","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":1,"width":8,"height":4,"label":"Temperature 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":600,"wires":[[]]},{"id":"fe60c9be.282678","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":880,"y":600,"wires":[["6d9007ae.400138"]]},{"id":"13b4432f.652acd","type":"inject","z":"380ed37.817812c","name":"rel status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE rel_status(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, currentdate DATE, currenttime TIME)","payload":"","payloadType":"date","x":340,"y":40,"wires":[["181e0547.b3412b"]]},{"id":"17c17b5a.799d25","type":"mqtt in","z":"380ed37.817812c","name":"hydro/rel/status","topic":"hydro/rel/status","qos":"2","datatype":"auto","broker":"f546b1fc.0e503","x":160,"y":740,"wires":[["73a69ade.579cd4","a824e9b.143bd18"]]},{"id":"a824e9b.143bd18","type":"debug","z":"380ed37.817812c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":680,"wires":[]},{"id":"73a69ade.579cd4","type":"function","z":"380ed37.817812c","name":"Save rel status","func":"var value = msg.payload\nvar newMsg = {\n    \"topic\": \"INSERT INTO rel_status(temperature, currentdate, currenttime) values(\"+ value +\" , date('now'), time('now'))\"\n}\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[["1b1e32d3.aa49ed"]]},{"id":"6d9007ae.400138","type":"function","z":"380ed37.817812c","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":600,"wires":[["2d6b659f.0b01ca"]]},{"id":"2642b65.3df714a","type":"function","z":"380ed37.817812c","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":660,"wires":[["5d9892f6.8e911c"]]},{"id":"528050b5.43e21","type":"function","z":"380ed37.817812c","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":720,"wires":[["adf5be3e.def1a"]]},{"id":"7928a2.3a7cf76","type":"function","z":"380ed37.817812c","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":780,"wires":[["e9a4d946.0780e8"]]},{"id":"5c7ca41d.af6e3c","type":"function","z":"380ed37.817812c","name":"","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(value){\n    data.push(value['temperature']);\n    time.push(value['currenttime']);\n});\n\nmsg.payload = [{\n    series: \"\",\n    data: [data],\n    labels: time\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":840,"wires":[["b76fc5fe.b99508"]]},{"id":"465a009a.3aba3","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":880,"y":660,"wires":[["2642b65.3df714a"]]},{"id":"5d9892f6.8e911c","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":2,"width":8,"height":4,"label":"Temperature 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":660,"wires":[[]]},{"id":"9e5d3f85.a6b81","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":880,"y":720,"wires":[["528050b5.43e21"]]},{"id":"e2091843.b7a0c8","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":880,"y":780,"wires":[["7928a2.3a7cf76"]]},{"id":"b4205191.34703","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":880,"y":840,"wires":[["5c7ca41d.af6e3c"]]},{"id":"fac1f4e0.2b6448","type":"inject","z":"380ed37.817812c","name":"temp 1","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM temperature1","x":680,"y":600,"wires":[["fe60c9be.282678"]]},{"id":"cc93b537.227a28","type":"inject","z":"380ed37.817812c","name":"temp 2","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM temperature2","x":680,"y":660,"wires":[["465a009a.3aba3"]]},{"id":"1e4efcc1.99bce3","type":"inject","z":"380ed37.817812c","name":"hum 1","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM humidity1","x":680,"y":720,"wires":[["9e5d3f85.a6b81"]]},{"id":"79c20fb5.a0e7f","type":"inject","z":"380ed37.817812c","name":"temp 2","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM humidity2","x":680,"y":780,"wires":[["e2091843.b7a0c8"]]},{"id":"7f2bac1.f502154","type":"inject","z":"380ed37.817812c","name":"rel status","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM rel_status","x":690,"y":840,"wires":[["b4205191.34703"]]},{"id":"adf5be3e.def1a","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":8,"width":8,"height":4,"label":"Humidity 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":720,"wires":[[]]},{"id":"e9a4d946.0780e8","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":9,"width":8,"height":4,"label":"Humidity 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":780,"wires":[[]]},{"id":"b76fc5fe.b99508","type":"ui_chart","z":"380ed37.817812c","name":"","group":"a24d5684.4831c8","order":3,"width":8,"height":4,"label":"Rel Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":840,"wires":[[]]},{"id":"181e0547.b3412b","type":"sqlite","z":"380ed37.817812c","mydb":"3e67ef18.18d8","sqlquery":"msg.topic","sql":"","name":"Database","x":560,"y":120,"wires":[[]]},{"id":"f546b1fc.0e503","type":"mqtt-broker","name":"","broker":"192.168.8.189","port":"1883","clientid":"node-client-test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a24d5684.4831c8","type":"ui_group","name":"Hydroponic","tab":"bcfc769f.bac2c8","order":2,"disp":true,"width":"25","collapse":false},{"id":"3e67ef18.18d8","type":"sqlitedb","db":"/home/pi/Documents/Hydroponic/Database","mode":"RWC"},{"id":"bcfc769f.bac2c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]